[user]
	name = Devin Schulz
	email = devin@devinschulz.com
	signingkey = C7E3228CEB877F00
[core]
	editor = emacs -nw
	excludesfile = /Users/dev/.gitignore_global
[mergetool]
	keepBackup = false
	writeToTemp = true
[push]
	default = tracking
[status]
	relativePaths = true
[commit]
	verbose = true
	gpgSign = true
[color]
	ui = auto
[fetch]
	prune = true
[alias]
	amend = commit --amend --no-edit
	br = branch
	ci = commit
	co = checkout
	cp = cherry-pick
	rg = rebase
	st = status
	cleanup-local = !remove-git-merged
[credential]
	helper = osxkeychain
[diff]
	tool = nvimdiff
[difftool "nvimdiff"]
	cmd = "nvim -d -u ~/.vimrc \"$LOCAL\" \"$REMOTE\""
[difftool]
	prompt = false
[gpg]
	program = gpg
[github]
	user = devinschulz
[url "git@github.com:"]
	insteadOf = https://github.com/
