[user]
	name = Devin Schulz
	email = devin@devinschulz.com
	signingkey = E152F861
[core]
	editor = vim
	excludesfile = /Users/dev/.gitignore_global
[mergetool]
	keepBackup = false
	writeToTemp = true
[push]
	default = tracking
[status]
	relativePaths = true
[commit]
	verbose = true
	gpgsign = true
[color]
	ui = auto
[fetch]
	prune = true
[alias]
	amend = commit --amend --no-edit
	br = branch
	ci = commit
	co = checkout
	cp = cherry-pick
	rg = rebase
	st = status
	gone = ! "git fetch -p && git for-each-ref --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" {print $1}' | xargs -r git branch -D"
[credential]
	helper = osxkeychain
[diff]
	tool = nvimdiff
[difftool "nvimdiff"]
	cmd = "vim -d -u ~/.vimrc \"$LOCAL\" \"$REMOTE\""
[difftool]
	prompt = false
[gpg]
	program = /usr/local/bin/gpg
[github]
	user = devinschulz
[url "git@github.com:"]
	insteadOf = https://github.com/
[pull]
	rebase = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
