*.DS_Store
tmux/.tmux/resurrect
tmux/.tmux/plugins
auto-save-list
backups
*~
.places
session.*
tramp
elpa
swank
emms
*.elc
.DS_Store
.cask
/url/
/var/
/.sx/
/ensime/
/history
/ido.last
/recentf
/projectile-bookmarks.eld
*.cache
*.data
recentf
*.eld
transient
*.last
.mc-lists.el
.last-package-update-day
cache.el
known-projects.el
prescient-save.el
ido-save-directory-list.el
emacs/.emacs.d/var
emacs/.emacs.d/straight
emacs/.emacs.d/places
emacs/.emacs.d/.lsp-session-v1
vim/.config/nvim
vim/.config/nvim
vim/.vim/sessions
vim/.vim/undofiles
helix/.config/helix/runtime

fish/.config/fish/completions
fish/.config/fish/functions
fish/.config/fish/conf.d

