*.DS_Store
tmux/.tmux/resurrect
tmux/.tmux/plugins
auto-save-list
backups
*~
.places
session.*
tramp
elpa
swank
emms
*.elc
.DS_Store
.cask
/url/
/var/
/.sx/
/ensime/
/history
/ido.last
/recentf
/projectile-bookmarks.eld
*.cache
*.data
recentf
*.eld
transient
*.last
.mc-lists.el
.last-package-update-day
