Xft.dpi: 150
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.autohint: false
Xft.lcdfilter: lcddefault

*background: #282c34
*foreground: #bbc2cf
*cursorColor: #98be65

*color0: #1b2229 ! base-0
*color1: #ff6c6b ! red
*color2: #98be65 ! green
*color3: #3f444a ! base-4
*color4: #51afef ! blue
*color5: #2257a0 ! dark-blue
*color6: #4db5db ! teal
*color7: #9ca0a4 ! base-7
*color8: #202328 ! base-1
*color9: #da8548 ! orange
*color10: #3f444a ! base-4
*color11: #73797e ! base-6
*color12: #46d9ff ! cyan
*color13: #5699af ! dark-cyan
*color14: #a9a1e1 ! violet
*color15: #dfdfdf ! base-8

URxvt.font: xft:Source Code Pro:size=10.5
URxvt.depth:                      32
URxvt*scrollBar:                  false
URxvt*mouseWheelScrollPage:       false
URxvt*cursorBlink:                true
URxvt*saveLines:                  5000
URxvt*internalBorder: 5
URxvt*geometry: 70x19
