let mapleader=" "

""" Plugins ---------------------------------
set surround
set multiple-cursors
set clipboard+=ideaput
set commentary

""" Common settings -------------------------
set scrolloff=5
set incsearch
set so=5
set showmode
set nu
set relativenumber

""" Idea specific settings ------------------
set ideajoin
set ideastrictmode

""" Mappings --------------------------------
map <S-Space> <Action>(GotoNextError)
map <leader>a <Action>(Annotate)
map <leader>c <Action>(Stop)
map <leader>d <Action>(Debug)
map <leader>r <Action>(RenameElement)
map <leader>s <Action>(SelectInProjectView)
map <leader>t <Action>(RunClass)
map <leader>z <Action>(ToggleDistractionFreeMode)

